<% feed.forEach(function(resort) { %>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <%if(resort.data.imageUrl) {%>
      <img class="img-fluid" alt="" src="<%=resort.data.imageUrl%>" />
      <% }else {%>
      <img
        class="img-fluid"
        alt=""
        src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png"
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= resort.data.title %></h5>
        <p class="card-text"><%= resort.data.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= resort.data.location%></small>
        </p>
        <a class="btn btn-primary" href="/resorts/<%=resort.id%>"
          >View <%=resort.data.title%></a
        >
      </div>
    </div>
  </div>
</div>
<% }) %>
